
@mixin nypr-player-icon($width) {
  > .nypr-player-icon {
    height: 100%;
    width: $width;
    transition: color $nypr-player-transition-timing ease-in-out, opacity $nypr-player-transition-timing ease-in-out;
    pointer-events: none;
  }
}

.nypr-player-button {
  @include btn;
  @include blank-button;
  @include svg-color($nypr-player-button-color);
  height: 100%;

  &:hover,
  &:focus {
    outline: 0;
    @include svg-color($nypr-player-button-hover-color);
  }
  &:active {
    outline: 0;
    @include svg-color($nypr-player-button-active-color);
  }
}

.nypr-player-icon {
  height: 100%;
}

.nypr-player-button.mod-listen {
  position: relative;
  width: 48px;
  @include mq($nypr-player-medium-and-up) {
    width: 55px;
  }
  height:100%;

  .listen-button-content {
    pointer-events: none;
    width: 48px;
    @include mq($nypr-player-medium-and-up) {
      width: 55px;
    }
    height: 100%;
  }

  .nypr-player-icon {
    width: 48px;
    height: 48px;
    @include mq($nypr-player-medium-and-up) {
      width: 55px;
      height: 55px;
    }
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: block;
    transition: fill $nypr-player-transition-timing ease-in-out, opacity $nypr-player-transition-timing ease-in-out;
    transform: translateZ(0);
    will-change: fill,opacity;
  }

  position: relative;

  .listen-spinner {
    @include spinner;
  }
  .listen-spinner:after, .listen-spinner:before{
    display: inline-block;
    transition: opacity 150ms ease;
  }

  &.is-paused {
    .nypr-player-icon.mod-play {
      opacity: 1;
    }

    .nypr-player-icon.mod-pause,
    .listen-spinner,
    .listen-spinner:after,
    .listen-spinner:before {
      opacity: 0;
    }
  }

  &.is-loading {
    .listen-spinner,
    .listen-spinner:after,
    .listen-spinner:before {
      opacity: 1;
    }

    .nypr-player-icon.mod-play,
    .nypr-player-icon.mod-pause {
      opacity: 0;
    }
  }

  &.is-playing  {
    .nypr-player-icon.mod-pause {
      opacity: 1;
    }

    .nypr-player-icon.mod-play,
    .listen-spinner,
    .listen-spinner:after,
    .listen-spinner:before {
      opacity: 0;
    }
  }
}

.nypr-player-button.mod-rewind, .nypr-player-button.mod-fastforward {
  @include nypr-player-icon(26px);
  margin-left: 11px;

  &:first-child {
    margin-left: 14px;
  }

  @include mq($nypr-player-medium-and-up) {
    @include nypr-player-icon(30px);

    margin-left: 20px;

    &:first-child {
      margin-left: 30px;
    }
  }

  + .nypr-player-button.mod-listen {
    margin-left: 15px;

    @include mq($nypr-player-medium-and-up) {
      margin-left: 20px;
    }
  }
}

/* Share button */
.nypr-player-share-button {
  height: 100%;
  width: 55px;
  position: relative;
  color: white;

  &:hover, &:active {
    background-color: $wqxrblue;
  }


  .nypr-player-share-icon {
    @include transition(opacity $nypr-player-transition-timing ease-in-out);
      width: 19px;
      height: 19px;
      top: -18px;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      position: absolute;

    path {
      fill: white;
    }
  }

  .nypr-player-share-label {
    position: absolute;
    left: 0;
    right: 0;
    top: 43px;
    font-size: 12px;
    font-weight: 600;
    @include transition(color $nypr-player-transition-timing ease-in-out);
    
  }

  > .nypr-player-share-icon.bar-open {
    opacity: 1;
  }
  > .nypr-player-share-icon.bar-close {
    opacity: 0;
  } 

  &.is-open {
    background-color: $wqxrblue;

    > .nypr-player-share-icon.bar-open {
      opacity: 0;
    }
    > .nypr-player-share-icon.bar-close {
      opacity: 1;
    }
  }

}


/* Queue button */


// queue icon
@keyframes reveal {
  from {
    transform: translate (0,0);
  }
  to {
    transform: translate(70px, 0);
  }
}

@keyframes moveUp {
  0% {
    transform: translate (0,0);
  }
  20% {
    transform: translate(0, -29px);
  }
  25% {
    transform: translate(0, -25px);
  }
  50% {
    transform: translate(0, -23px);
  }
  65% {
    transform: translate(0, -10px);
  }
  75% {
    transform: translate(0, -17px);
  }
  85% {
    transform: translate(0, -13px);
  }
  90% {
    transform: translate(0, -13px);
  }
  95% {
    transform: translate(0, -15px);
  }
  100% {
    transform: translate(0, -13px);
  }
}

@keyframes moveUpAndFade {
  0% {
    transform: translate (0,0);
  }

  10%{
        opacity: 0;
  }
  20% {
    transform: translate(0, -29px);

  }
  100% {
    opacity: 0;
  }
}

@keyframes introColor {
  0% {
   opacity: 0;
   transform: scale(1);
  }
  3% {
    opacity: 1;
    transform: scale(1.06) translateX(3px);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
        opacity: 1;
  }
}


@keyframes fade {
  0% {
   opacity: 0;
    transform: scale(1);
  }
  3% {
   opacity: .7;
    transform: scale(1.9);
  }
  15% {
   opacity: 1;
    transform: scale(1);
  }

  50% {
   opacity: 1;
  }

  100% {
   opacity: 1;
   background: $nypr-player-button-color;
  }
}

.nypr-player-queue-button {
  position: relative;
  width: 65px;
  border-radius: 50%;
  background: transparent;
  color: $nypr-player-button-color;
  margin: 3.5px;
  margin-right: 15px;
  border: 0;
  outline: 0;
  display: flex;
  height: 100%;

  &.is-floating {
    top: 15px;
    margin-right: 0;
    height: 65px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background: $nypr-player-floating-queue-button-background;
    transition: color $nypr-player-transition-timing ease-in-out;

    .nypr-player-queue-icon {
      &.mod-close {
        width: 16px;
        height: 16px;
      }
      &.mod-open {
        transform: scale(0.5);
      }
    }
    .nypr-player-queue-label {
      top: 36px;
    }

    &:focus {
      opacity: 1;
      background: rgba(71,71,71,1);
    }
  }

  path {
    fill: $nypr-player-button-color;
  }

  &:hover {
    outline: 0;

    .nypr-player-queue-icon {
      outline: 0;
      .nypr-player-queue-bar,
      .nypr-player-queue-dot {
        background: $nypr-player-button-hover-color;
      }
      path {
        fill: $nypr-player-button-hover-color;
      }
    }
    .nypr-player-queue-label {
      color: $nypr-player-button-hover-color;
    }
  }

  &:active {
    outline: 0;
    .nypr-player-queue-icon {
      .nypr-player-queue-bar,
      .nypr-player-queue-dot {
        background: $nypr-player-button-active-color;
      }
      path {
        fill: $nypr-player-button-active-color;
      }
    }
    .nypr-player-queue-label {
      color: $nypr-player-button-active-color;
    }
  }
}

.nypr-player-queue-label {
  position: absolute;
  left: 0;
  right: 0;
  top: 43px;
  font-size: 12px;
  font-weight: 600;
  transition: color $nypr-player-transition-timing ease-in-out;
}

/* This isn't using the player-icon class because this is a different animal */
.nypr-player-queue-icon {
  transition: opacity $nypr-player-transition-timing ease-in-out;
  width: 19px;
  height: 19px;
  top: -18px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  &.mod-open {
    width: 45px;
    transform: scale(0.6);
  }

  > .nypr-player-queue-dot,
  > .nypr-player-queue-bar {
    background: $nypr-player-button-color;
    position: absolute;
    transition: background $nypr-player-transition-timing ease-in-out;
  }

  > .nypr-player-queue-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: 0;
  }

  > .nypr-player-queue-bar {
    width: 35px;
    height: 5px;
    border-radius: 20px;
    right: 0;
  }

  > .nypr-player-queue-bar.mod-animate,
  > .nypr-player-queue-dot.mod-animate {
    opacity: 0;
    bottom: 0;
  }

  > .nypr-player-queue-dot:nth-child(3),
  > .nypr-player-queue-bar:nth-child(6) {
    bottom: 0;
  }

  > .nypr-player-queue-dot:nth-child(4),
  > .nypr-player-queue-bar:nth-child(7) {
    bottom: 13px;
  }

  > .nypr-player-queue-dot:nth-child(5),
  > .nypr-player-queue-bar:nth-child(8) {
    bottom: 26px;
  }

  .animate & {
    > .nypr-player-queue-bar.mod-animate {
      animation: .9s introColor 1 forwards;
      animation-delay: 0.3s;
      opacity: 0;
    }

    > .nypr-player-queue-dot.mod-animate {
      animation: 1.4s fade 1 forwards;
      animation-delay: 0.2s;
    }

    > .nypr-player-queue-dot:nth-child(3),
    > .nypr-player-queue-bar:nth-child(6) {
      animation: .8s moveUp 1 forwards;
      animation-timing-function: ease-in;
    }

    > .nypr-player-queue-dot:nth-child(4),
    > .nypr-player-queue-bar:nth-child(7) {
      animation: .8s moveUp 1 forwards;
      animation-timing-function: ease-in;
      animation-delay: 0.01s;
    }

    > .nypr-player-queue-dot:nth-child(5),
    > .nypr-player-queue-bar:nth-child(8) {
      animation: .8s moveUpAndFade 1 forwards;
      animation-timing-function: ease-in;
      animation-delay: 0.02s;
    }
  }
}

.nypr-player-queue-button {
  > .nypr-player-queue-icon.mod-open {
    opacity: 1;
  }
  > .nypr-player-queue-icon.mod-close {
    opacity: 0;
  }
}

.nypr-player-queue-button.is-open {
  > .nypr-player-queue-icon.mod-open {
    opacity: 0;
  }
  > .nypr-player-queue-icon.mod-close {
    opacity: 1;
  }
}
