@mixin mq($mq...) {
    @if length(keywords($mq)) == 1 {
        @media only screen and #{$mq} {
            @content;
        }
    } @else {
        $query: 'only screen';

        @each $media in $mq {
            $query: "#{$query} and #{$media}";
        }

        @media #{$query} {
            @content;
        }
    }
}


@mixin spinner(
  $primary: $nypr-player-spinner-primary-color,
  $accent: $nypr-player-spinner-accent-color,
  $innerWidth: 14px,
  $innerHeight: 14px,
  $outerWidth: 32px,
  $outerHeight: 32px,
  $borderWidth: 6px,
  $top: 0px,
  $left: 0px,
  $right: 0px,
  $bottom: 0px
) {

  &:before { //inner spinner
    content: '';
    display: block;
    position: absolute;
    top: #{$top}; left: #{$left}; right: #{$right}; bottom: #{$bottom};
    margin: auto;
    width: #{$innerWidth};
    height: #{$innerWidth};
    border: #{$borderWidth} solid $primary;
    border-radius: 50%;
    border-left-color: $accent;
    border-top-color: $accent;

    animation: bigSpin .8s linear infinite;
    animation-origin: 50% 50%;
  }
  &:after { //outer spinner
    content: '';
    display: block;
    position: absolute;
    top: #{$top}; left: #{$left}; right: #{$right}; bottom: #{$bottom};
    margin: auto;
    width: #{$outerWidth};
    height: #{$outerHeight};
    border: #{$borderWidth} solid $primary;
    border-radius: 50%;
    border-left-color: $accent;
    border-top-color: $accent;

    text-align: center;
    animation: bigSpin 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
    transform-origin: 50% 50%;
  }
}

$nypr-player-base-font: 16;

@mixin fontsize($pixels) {
    font-size: #{$pixels}px;
    font-size: rems($pixels);
}

@function rems($size) {
    @return #{$size/$nypr-player-base-font}rem;
}

@mixin svg-color($color) {
  polygon, rect, circle, path {
    color: $color;
    fill: currentColor;
    transition: color $nypr-player-transition-timing ease-in-out, stroke $nypr-player-transition-timing ease-in-out, fill $nypr-player-transition-timing ease-in-out;
  }
}


@keyframes bigSpin {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}
