$nypr-player-medium-breakpoint : 801;
$nypr-player-medium-and-up     : "(min-width: #{$nypr-player-medium-breakpoint}px)";
$nypr-player-small-only        : "(max-width: #{$nypr-player-medium-breakpoint - 1}px)";

$nypr-player-zindex            : 1200 !default;
$nypr-player-backdrop-zindex   : -1 !default;
$nypr-player-backdrop-color    : rgba(#333, 0.75) !default;
