@import "nypr-ui";
@import "nypr-player/variables";
@import "nypr-player/mixins";
@import "nypr-player/utils";
@import "nypr-player/progress";
@import "nypr-player/volume";
@import "nypr-player/buttons";

.nypr-player {
  height: 95px;
  width: 100%;
  padding-bottom: 25px;
  position: fixed;
  bottom: -15px;
  z-index: $nypr-player-zindex;
  box-sizing: border-box;
  background-color: rgba(51, 51, 51, 1);
  color: white;
  font-weight: 600;

  @include mq($nypr-player-medium-and-up) {
    padding-bottom: 15px;
  }

  .ember-holygrail,
  .ember-holygrail-left,
  .ember-holygrail-right,
  .ember-holygrail-centered {
    height:100%;
  }
}

/* Left controls */

.nypr-player .ember-holygrail-left {
  min-width: 153px;
  flex: 0 1 153px;

  @include mq($nypr-player-medium-and-up) {
    min-width: 230px;
    flex:0 1 230px;
  }
}

.nypr-player .nypr-player-controls {
  display: flex;
  align-items: left;

  width: 100%;
  margin: 3.5px;
  height: 100%;
  width:100%;

}

.nypr-player .ember-holygrail-left .nypr-player-controls {
  justify-content: flex-start;

  @include mq($nypr-player-medium-and-up) {
    margin: 0px;
  }
}

.nypr-player .ember-holygrail-right .nypr-player-controls {
  justify-content: flex-end;

  @include mq($nypr-player-medium-and-up) {
    margin-right: 4px;
  }
}

.nypr-player .ember-holygrail-middle {
  min-width: 0;
  flex: 1 0 0;
}

/* Metadata */

.nypr-player-info {
  white-space: nowrap;
  color: $nypr-player-info-text-color;

  a {
    font-weight: 700;
    margin-right: 5px;
    color: $nypr-player-info-text-color;

    &:hover, &:focus {
      border-bottom-color: $nypr-player-link-underline-color;
    }
  }
}


/* Control buttons */
.nypr-player-timelabel {
  color: $nypr-player-timelabel-color;
  font-size: 12px;

  .timelabel-separator,
  .timelabel-total {
    color: $nypr-player-timelabel-total-color;
  }
}

/* Progress Bar */

.nypr-player-progress-container {
  @include mq($nypr-player-medium-and-up) {
    display: flex;
    align-items: center;

    > .nypr-player-progress {
      flex: 1;
      position: relative;
      bottom: 0;
      margin: 0 15px 0 0;
      height: 21px;

      .nypr-player-progress-wrapper {
        position: relative;
        height: 3px;
        top: 10px;
      }
    }

    > .nypr-player-timelabel {
      flex: 0 0 auto;
    }
  }
}

@include mq($nypr-player-medium-and-up) {
  .nypr-player-progress-playhead {
    top: -1.5px;

    .touchevents &,
    .is-dragging &,
    .nypr-player-progress:hover & {
      transform: scale(0.7, 0.7);
    }
  }
}



.nypr-player .ember-holygrail-right {
  min-width: 70px;

  @include mq($nypr-player-medium-and-up) {
    min-width: 194px;
  }
}

/* Hidden in mobile */

.nypr-player-button.mod-volume {
  display: none;
  background-image: none;

  @include mq($nypr-player-medium-and-up) {
    display: inline-flex;
  }
}

/* backdrop */
.nypr-player-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  z-index: $nypr-player-backdrop-zindex;

  svg {
    content: " ";
    width: 100%;
    height: 95px;
    position: absolute;
    top: 0;
    left: 0;
    background: $nypr-player-background-color;
    image {
      opacity: $nypr-player-background-image-opacity;
    }
  }
}

.nypr-player.is-audiostream {
  .ember-holygrail-left {
    min-width: 90px;
    flex: 0 0 90px;

    @include mq($nypr-player-medium-and-up) {
      min-width: 95px;
      flex: 0 0 95px;
    }
  }

  .nypr-player-button.mod-rewind, .nypr-player-button.mod-fastforward {
    display: none;
  }

  button.nypr-player-button.mod-listen {
    margin-left: 18px;

    @include mq($nypr-player-medium-and-up) {
      margin-left: 26px;
    }
  }
}
