<div class="listen-button-content">
  <label class="u-visuallyhidden" id="playpause-label">Play/Pause</label>
  {{nypr-svg className="nypr-player-icon mod-play" icon="play-hollow"}}
  {{nypr-svg className="nypr-player-icon mod-pause" icon="pause-hollow"}}
  <i class="listen-spinner"></i>
</div>
