<div class="listen-button-content">
  <label class="u-visuallyhidden" id="playpause-label">Play/Pause</label>

  {{svg-jar "play-hollow" class="nypr-player-icon mod-play"}}
  {{svg-jar "pause-hollow" class="nypr-player-icon mod-pause"}}
  <i class="listen-spinner"></i>
</div>
