<div class='player-notification'>
  <p class='notification-message'>
    {{yield}}
  </p>
  <div class='notification-action'>
    <div class='dismiss-notification close-icon' {{action 'dismiss'}}>
      {{nypr-svg className="nypr-player-icon" icon='close'}}
    </div>
  </div>
</div>
