<div class="nypr-player-progress-wrapper">
  <div class="nypr-player-progress-bg js-nypr-player-progress-bg"></div>
  <div class="nypr-player-progress-downloaded" style={{downloadedPercentage}}></div>
  <div class="nypr-player-progress-played" style={{playedPercentage}}></div>
  <div class="nypr-player-progress-playhead js-nypr-player-progress-playhead" style={{playheadPosition}}></div>
</div>
