<div class="nypr-player-queueicon nypr-player-queueicon--openqueue">
  <div class="white-bar white-bar--animate"></div>
  <div class="white-dot white-dot--animate"></div>
  <div class="white-dot"></div>
  <div class="white-dot"></div>
  <div class="white-dot"></div>
  <div class="white-bar"></div>
  <div class="white-bar"></div>
  <div class="white-bar"></div>
</div>
{{nypr-svg icon='close' className="icon nypr-player-queueicon nypr-player-queueicon--closequeue"}}
<span class="nypr-player-queuelabel">Queue</span>
