<div class="nypr-player-queue-icon mod-open">
  <div class="nypr-player-queue-white-bar mod-animate"></div>
  <div class="nypr-player-queue-white-dot mod-animate"></div>
  <div class="nypr-player-queue-white-dot"></div>
  <div class="nypr-player-queue-white-dot"></div>
  <div class="nypr-player-queue-white-dot"></div>
  <div class="nypr-player-queue-white-bar"></div>
  <div class="nypr-player-queue-white-bar"></div>
  <div class="nypr-player-queue-white-bar"></div>
</div>
{{nypr-svg icon='close' className="nypr-player-icon nypr-player-queue-icon mod-close"}}
<span class="nypr-player-queue-label">Queue</span>
