<div class="nypr-player-queue-icon mod-open">
  <div class="white-bar white-bar--animate"></div>
  <div class="white-dot white-dot--animate"></div>
  <div class="white-dot"></div>
  <div class="white-dot"></div>
  <div class="white-dot"></div>
  <div class="white-bar"></div>
  <div class="white-bar"></div>
  <div class="white-bar"></div>
</div>
{{nypr-svg icon='close' className="nypr-player-icon nypr-player-queue-icon mod-close"}}
<span class="nypr-player-queue-label">Queue</span>
