{{nypr-svg icon='close' className="nypr-player-icon nypr-player-share-icon bar-close"}}
{{nypr-svg icon='share-arrow' className="nypr-player-icon nypr-player-share-icon bar-open"}}
<span class="nypr-player-share-label">Share</span>

