$nypr-player-accent-color    : rgb(222, 30, 61);
$nypr-player-primary-color   : #FFF;
$nypr-player-background-color: #3E4458;

@import "nypr-player";
@import "nypr-ui/site-chrome";

.site-chrome__nav {
  @media (min-width: 800px) {
    padding-left: 15px;
  }
}

body {
  font-family: sans-serif;
}

.page-title {
  font-size: 18px;
  margin: 0;
}
