{{#site-chrome as |chrome|}}

  {{#chrome.nav as |nav|}}

    {{#nav.corner}}
      <h1 class="page-title">
        {{#link-to 'index'}}
        <code>nypr-player</code>
        {{/link-to}}
      </h1>
    {{/nav.corner}}

    {{#nav.links as |links|}}
      {{links.link 'Basic Usage' 'basic-usage'}}
      {{links.link 'Styling' 'styling'}}
      {{links.link 'Advanced' 'advanced'}}
    {{/nav.links}}

  {{/chrome.nav}}

  {{#chrome.body}}

    <div class="l-page">
      {{outlet}}
    </div>

  {{/chrome.body}}
{{/site-chrome}}
