{{md-text text="
## New York Public Radio Audio Player

### So What?
This is the audio player you may have seen on such sites as [wnyc.org](http://wnyc.org), now available for your use.

![on demand](/assets/screenshots/wnyc-player.png \"Player on WNYC\")
"}}

<p>
  Read more about {{link-to 'Basic Usage' 'basic-usage'}}.
</p>
