{{md-text text="
## Styling

Currently, this app requires sass compilation for the player to look correct. Add `ember-cli-sass` to your app and then put this in your `app.scss`:

```scss
@import \"nypr-player\";
```

### Sass Variables

There are a bunch of values you can override by defining *above* the import line in your app.
"}}

{{code-snippet name="sass-variables.scss"}}

<p>
  Looking good. How about {{link-to 'something a little more advanced?' 'advanced'}}
</p>
